html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* font-face */
@font-face {
  font-family: "Satoshi";
  src: local("Satoshi-Regular"),
    url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: local("ClashDisplay-Regular"),
    url("../fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

/* variables */
:root {
  --font-family: "Satoshi", sans-serif;
  --second-family: "Clash Display", sans-serif;
  --bg-color--main: #fff;
  --bg-color--dark-primary: #2a254b;
  --bg-color--light-grey: #f9f9f9;
  --bg-color--primary: #4e4d93;
  --text-color--white: #fff;
  --text-color--dark-primary: #2a254b;
  --container-margin: 28px;
}

html {
  font-family: var(--second-family);
  font-weight: 400;
}

* {
  font-family: inherit;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1280px;
}

.fz-hack {
  font-size: 0;
}

.title {
  margin: 0;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.descr {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* body */
.body {
  min-width: 390px;
  font-family: var(--font-family);
  background-color: var(--bg-color--main);
}

/* header */
.header__container {
  max-width: 100%;
}

.header__top {
  padding-inline: 28px;
  padding-block: 20px;
}

.header__content {
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  width: 16px;
  height: 16px;
}

.header__buttons {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header__bottom {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__bottom::before {
  content: "";
  position: absolute;
  left: calc(var(--container-margin) * 2);
  right: 0;
  top: 0;
  height: 1px;
  transform: translateX(calc(-1 * var(--container-margin)));
  background-color: rgba(0, 0, 0, 0.1);
}

.header__menu {
  justify-content: center;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 44px;
}

/* HERO */
.hero {
  padding-block: 60px;
}

.hero__wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-color--dark-primary);
}

.hero__wrapper::after {
  content: "";
  display: block;
  width: 520px;
  height: 584px;
  background-image: url("../img/hero-chair.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hero__content {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  max-width: 602px;
}

.hero__heading {
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: var(--text-color--white);
}

.hero__link {
  padding: 16px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: rgba(249, 249, 249, 0.15);
  color: var(--text-color--white);
}

.hero__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color--white);
}

/* FEATURES */
.features {
  padding-top: 60px;
  padding-bottom: 86px;
}

.features__content {
  justify-content: center;
  row-gap: 51px;
}

.features__list {
  justify-content: space-between;
  width: 100%;
}

.features__item {
  max-width: 235px;
  list-style-type: none;
}

.features__icon {
  margin-bottom: 16px;
  width: 24px;
  height: 24px;
}

.features__subtitle {
  margin: 0 0 8px;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--text-color--dark-primary);
}

.features__descr {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var( --text-color--dark-primary);
}


/* LISTINGS */
.listings {
  padding-block: 80px 56px;
}

.listings__heading {
  font-size: 32px;
}

.listings__content {
  justify-content: center;
  row-gap: 35px;
}

.listings__list {
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  width: 100%;
}

.listings__subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--dark-primary);
}

.listings__price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark-primary);
}

.listings__link {
  padding: 16px 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: rgba(249, 249, 249);
  color: var(--dark-primary);
}

/*SIGNUP*/
.sign-up {
  padding-block: 52px 65px;
  background-color: rgba(249, 249, 249);
}

.sign-up__content {
  background: rgb(255, 255, 255);
  height: 364px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up__heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: var(--dark-primary);
}

.sign-up__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--dark-primary);
}

.sign-up__fieldset {
  margin-top: 72px;
  height: 56px;
  width: 472px;
}

/*TARGET*/

.target__container {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(255, 255, 255);
  max-width: 1440px;
}

.target__container::after {
  content: "";
  justify-content: flex-end;
  width: 50vw;
  height: 603px;
  background-image: url("../img/lastpic.png");
  background-repeat: no-repeat;
  background-size: 720px 603px;
}

.target__content {
  padding: 72px 100px 54px 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 50vw;
}

.target__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #505977;
}

.target__button {
  padding: 16px 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: rgba(249, 249, 249);
  color: var(--dark-primary);
}

/*FOOTER*/

.footer {
  background-color: var(--bg-color--dark-primary);
  height: 380px;
}

.footer__container {
  padding-inline: 80px;
  margin: 0;
  color: white;
}

.footer__top {
  justify-content: space-between;
}

.footer__nav-heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.footer__nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.footer__nav-list {
  flex-direction: column;
}

.form__caption {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.form__input::placeholder {
  color: white;
  text-indent: 32px;
}

.form__fieldset {
  height: 56px;
  width: 627px;
}

.form__input {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
}

.form__btn {
  height: 56px;
  width: 118px;
  background-color: rgba(255, 255, 255, 1);
}

.footer__bottom:not(.social__item) {
  padding-block: 24px;
}

.footer__social {
  justify-content: flex-end;
}

.social__item {
  padding-inline: 12px;
}

.fa-brands {
  color: white;
}
