html {
    box-sizing: border-box;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* font-face */
@font-face {
    font-family: "Satoshi";
    src: local("Satoshi-Regular"),
    url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "ClashDisplay";
    src: local("ClashDisplay-Regular"),
    url("/fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

html {
    font-family: "ClashDisplay", sans-serif;
    font-weight: 400;
}

* {
    font-family: inherit;
}

/* variables */
:root {
    --font-family: "Satoshi", sans-serif;
    --second-family: "Clash Display", sans-serif;
    --bg-color--main: #fff;
    --bg-color--dark-primary: #2a254b;
    --bg-color--light-grey: #f9f9f9;
	--bg-color--primary: #4e4d93;	
    --text-color--white: #fff;
    --text-color--dark-primary: #2a254b;

	/* --border-grey: #ebe8f4;
	--border-dark: #cac6da;
	--images---dark-chair: #f6f6f6; */
}

/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 0 28px;
    width: 100%;
    max-width: 1280px;
}

/* body */
.body {
    /* min-width: 320px; */
    min-width: 390px;
    font-family: var(--font-family);
    background-color: var(--bg-color--main);
}

/* header */
